.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.menu {
  width: 100%;
  display: table;
}

.menu ul {
  display: table-row;
}

.menu li {
  display: table-cell;
  background: #2767A0;
}

.menu ul li:hover,
.menu a:hover {
  background: #666;
}

.menu li a {
  display: block;
  padding: 8px 15px;
  color: #fff;
  text-align: center;
}

.footer {
  background-color: #2e34e5;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 19px;
  font-weight: bold;
  color: #fafaff;
}